.pok-{
  &img--{
    &sz1{
      width: 180px !important;
      height: 100px !important;
    }
    &sz2{
      width: 142px !important;
      height: auto !important;
    }
    &sz3{
      width: 60px !important;
      height: 50px !important;
    }
  }
}