.center-item{
  position: relative; 
  top: 50%;
  transform: translateY(-50%);
}

.pok-{
  &page{
    border-radius: $round;
    background: #E6E6E6;
    width: 100% !important;
    height: calc(100vh - (#{$header-size} + 50px)) !important;
    padding: 0px !important;
    max-width: none !important;
  }
  &fill--{
    &height{
      height: 100%;
    }
    &width{
      width: 100%;
    }
    &all{
      height: 100%;
      width: 100%;
    }
  }
}

.overflow-{
  &hidden{
    overflow: hidden !important;
    display: block;
  }
  &auto{
    overflow: auto !important;
  }
}

.text-center{
  text-align: center !important;
}

.bulba{
  background: green;
}

.sqk{
  background: blue;
}

.char{
  background: red;
}