.center-item{
  position: relative; 
  top: 50%;
  transform: translateY(-50%);
}

.pok-{
  &page{
    border-radius: $round-2;
    background: #E6E6E6;
    width: 100% !important;
    height: calc(100vh - (#{$header-size} + 50px)) !important;
    padding: 0px !important;
    max-width: none !important;
  }
  &fill--{
    &height{
      height: 100%;
      &-auto{
        height: auto !important;
      }
    }
    &width{
      width: 100%;
    }
    &all{
      height: 100%;
      width: 100%;
    }
  }

  &round{
    border-radius: $round !important;
    &-2{
      border-radius: $round-2 !important;
    }
    &-3{
      
      border-radius: $round-3 !important;
    }
  }
}

.overflow-{
  &hidden{
    overflow: hidden !important;
    display: block;
  }
  &auto{
    overflow: auto !important;
  }
  &normal{
    overflow: unset !important;
    height: auto;
  }
}

.text-{
  &center{
    text-align: center !important;
    &-vertical{
      vertical-align: middle;
      &--force{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &right{
    text-align: right !important;
  }
  &left{
    text-align: left !important;
  }
}

.cursor-{
  &pointer{
    cursor: pointer;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #E6E6E6 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #E6E6E6 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #E6E6E6 !important;
}

[role=list] {
  padding: 0px !important;
  background: $third-brand-color-light !important;
  color: white !important;
  [role=listitem] {
    .v-list__tile{
      padding: 0px !important;
      .v-list__tile__content{
        padding: 0 10px;
      }
    }
  }
}