.pok-dialog{
  position: fixed;
  width: 100%;
  height: 100%;
  background: $layer-color;
  z-index: 10000;

  .btn-close{
    position: absolute;
    right: 25px;
    top: 15px; 
  }

  .pok-dialog-content{
    position: relative;
    width: 600px;
    max-width: 100%;
    height: 550px;
    max-height: 100%;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
  }
}