.pok-{
  $input-color: #686868;
  $input-text-color: #fff;
  &input-text-search{
    width: 100%;
    height: 61px;
    .v-input__slot{
      height: 61px;
      background: $input-color;
      border-color: $input-text-color !important;
      .v-text-field__slot{
        input{
          color: $input-text-color !important;
          padding: 0 20px;
          font-size: $text-h3;
        }
      }
      .v-input__append-inner{
        .v-input__icon{
          position: relative;
          top: 15px;
          right: 20px;
          i{
            color: $input-text-color !important;
          }
        }
      }
    }
    &.v-input--is-focused{
      .v-input__slot{
        &::after{
          border-color: $input-text-color !important;
        }
      }
    }
  }
}